<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="webstyle.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="upload">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <img class="polygon" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/polygon-2.svg" />
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="group">
            <div class="overlap-group">
              <div class="rectangle-4"></div>
              <div class="rectangle-5"></div>
              <div class="rectangle-6"></div>
              <img class="img" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/polygon-7.svg" />
            </div>
          </div>
          <img class="arrow" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/arrow-2.svg" />
          <img class="arrow-2" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/arrow-3.svg" />
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <img class="line" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/line-11.svg" />
              <img class="line-2" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/line-12.svg" />
            </div>
          </div>
          <img class="polygon-2" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/polygon-2.svg" />
          <div class="ellipse"></div>
          <img class="image" />
          <div class="overlap-group-wrapper">
            <div class="overlap-3">
              <div class="ellipse-2"></div>
              <img class="polygon-3" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/polygon-7.svg" />
              <div class="ellipse-3"></div>
            </div>
          </div>
          <img class="group-2" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/group-2.png" />
          <div class="div-wrapper">
            <div class="overlap-4">
              <img class="line-3" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/line-5-1.svg" />
              <img class="line-4" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/line-6-1.svg" />
            </div>
          </div>
        </div>
        <div class="overlap-5">
          <p class="select-JPEG-GIF-PNG">
            Select JPEG / GIF / PNG image files. <br />You can upload up to 20 MB per file and a maximum of 100 files.
            <br />(The total file size must be less than 200 MB.)
          </p>
          <div class="group-3">
            <div class="overlap-6">
              <img class="line-5" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/line-5.svg" />
              <img class="line-6" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/line-6.svg" />
            </div>
          </div>
        </div>
        <div class="overlap-7">
          <img class="polygon-4" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/polygon-2.svg" />
          <div class="rectangle-7"></div>
          <div class="rectangle-8"></div>
          <img class="polygon-5" src="https://c.animaapp.com/mfdxzhfoYuEuGS/img/polygon-2.svg" />
          <div class="text-wrapper">Upload</div>
        </div>
        <div class="rectangle-9"><textarea style="width: 99%; height: 80%; font-size: 40px; border: none; outline: none;"></textarea></div>
        <div class="text-wrapper-2">Title</div>
        <div class="rectangle-10"><textarea style="width: 99%; height: 90%; font-size: 40px; border: none; outline: none;"></textarea></div>
        <div class="text-wrapper-3">Description</div> 
      </div>
    </div>
  </body>
</html>
