@import url("https://fonts.googleapis.com/css?family=Alkatra:400|Aladin:400");
* {
  box-sizing: border-box;
}
html,
body {
  margin: auto;
  height: auto;
}
a {
  text-decoration: none;
}
